*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
}
html{
    font-size: 62.5%;
}
.container{
    width: 100%;
    height: 90rem;
    display: flex;
}
.div-gauche{
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.div-droite{
    width: 40%;
}
.brad{
    width: 70%;
    background-color: #35bc7a;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    justify-content: space-around;
    padding-left: 5rem;

}
.profile{
    width: 30%;
    background-color: #ff9e00;
    font-size: 1.5rem;
    font-weight: bold;
}
.exp{
    width: 35%;
    background-color: #1e8bc4;
    font-size: 1.5rem;
    font-weight: bold;
}
.educ{
    width: 35%;
    background-color: #f15a49;
    font-size: 1.5rem;
    font-weight: bold;
}
.blog{
    width: 30%;
    background-color: #35bc7a;
    font-size: 1.5rem;
    font-weight: bold;
}
.social{
    width: 35%;
    background-color: rgb(248, 105, 37);
    font-size: 1.5rem;
    font-weight: bold;
}
.contact{
    width: 35%;
    background-color: #1e8bc4;
    font-size: 1.5rem;
    font-weight: bold;
}
.porto{
    width: 30%;
    background-color: #f86925;
    font-size: 1.5rem;
    font-weight: bold;
}
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.exp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.educ{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.blog{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.social{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.porto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.div-droite img{
    height: 100%;
}
.brad button {
    background-color: rgba(0, 128, 0, 0);
    border: 2px solid white;
    padding: 1rem;
    display: inline-flex;
    width: 10rem;
    box-shadow: 2px 2px 2px black;
    border-radius: 5px;
}
button:hover{
    cursor: pointer;
    color: #e76d6d;
}
h1{
    font-size: 3rem;
}


@media screen and (max-width: 350px) {
    .div-gauche{
        width: 100%;
    }
    .div-droite{
        display: none;
    }
}
@media screen and (max-width: 600px) {
    .div-gauche img{
        width: 60%;
    }
    .div-gauche{
        ;
    }
}
