*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
}
html{
    font-size: 62.5%;
}
.container{
    width: 100%;
    height: 90rem;
    display: flex;
}
.div-gauche{
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.div-droite{
    width: 40%;
}
.brad{
    width: 70%;
    background-color: #35bc7a;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    justify-content: space-around;
}
.profile{
    width: 30%;
    background-color: #ff9e00;
}
.exp{
    width: 35%;
    background-color: #1e8bc4;
}
.educ{
    width: 35%;
    background-color: #f15a49;
}
.blog{
    width: 30%;
    background-color: #35bc7a;
}
.social{
    width: 35%;
    background-color: rgb(248, 105, 37);
}
.contact{
    width: 35%;
    background-color: #1e8bc4;
}
.porto{
    width: 30%;
    background-color: #f86925;
}
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.exp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.educ{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.blog{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.social{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.porto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.div-droite img{
    height: 100%;
}
.brad button {
    background-color: rgba(0, 128, 0, 0);
    border: 2px solid white;
    padding: 1rem;
    display: inline-flex;
    width: 15%;
}

button:hover{
    cursor: pointer;
}
h1{
    font-size: 3rem;
}